body{
	background-color: #E5E5E5;
}
.global{
	width: 100%;
	margin-top: 0;
	padding: 0;
/*	background-color: #E5E5E5;*/
	
}
.main-con{
	width: 56%;
	margin: auto;
/*	background-color: #fff;*/

	
}
.block-contebt{
		text-decoration: none;
}
.bloct-title{
	background-color: transparent;
	font-size: 22px;
font-weight: 700;

}
h3>a{
	text-decoration: none;
	letter-spacing: 0.2em;
}
h3>a:hover{
	color: red;
}
.info{
	width: 100%;
	height: 230px;
	background-color: #404040;

}
.info-logo{
	width: 30%;
	height: 230px;
	float: left;
}
.info-pic{
	width: 70%;
	height: 230px;
	float: left;
	
}
.logo{
	width: 70px;
	height: 70px;
   	position: absolute;
   	top:5%;
	margin-left: 5%;
	
	-webkit-border-radius: 50%;
	border-radius: 50%; */
	
	background-image: url(../images/me.JPG);
}
.info-re{
	text-align: center;
	margin-top: 130px;
	
	font: normal  Roboto,arial,sans-serif;
	color:#fff;
}
#example_video_1{
	width: 100%;
	height: 500px;
}
.bo{
	width: 35%;
	height: 350px;
	text-align: center;
	border: #DDDDDD solid 2px;
	margin-top: 50px;
	float: left;
	margin-left: 30px;
}
.co{
	width: 98%;
	height: 100px;
	margin: -20px auto;
	font-family: "PT Sans", sans-serif;
	
}
.co>h4{
	padding: 35px;
	font-family:Consolas;
	color: #fff;
	letter-spacing: 1.07em;
}
.co-text{
	margin-top: 70px;
	padding-bottom: 45px;
}
.date-footer{
	width: 100%;
	height:32px;
	background:#f5f5f5;
	border-bottom: solid red 2px;
}