<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="__PUBLIC__/Css/all.css" >
	<meta charset="utf-8">
	<script type="text/javascript">
	document.body.parentNode.style.overflowY = "hidden";
	</script>
</head>
<body>
	<div class="global">
		<div class="main-con">
			<volist name="blogs" id="blog">
				<div class="block-contebt">
					<h3 class="block-title">
						<a href="{:U('Home/Index/newContent/html/'.$blog['blog_url'])}">{$blog.blog_Title}</a>
					</h3>
					<p>{$blog.blog_brief}</p>
				</div>
			</volist>
		</div>
	</div>
</body>
</html> 
