<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="__PUBLIC__/Css/all.css" >
	<script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
	<meta charset="utf-8">
	<script type="text/javascript">
		$(document).ready(function(){
			var divList=document.getElementsByClassName("co");
			for(var i in divList)
			{
				$(divList[i]).css("background-color","#"+Math.floor(Math.random()*1000000));
			}
		});
	</script>
</head>
<body style="background-color: #fff;">
	<div class="global">
		<div class="main-con" style="background-color: #fff;">
			<volist name="blogs" id="blog">
				<div class="bo">
					<div class="co" style="background-color: #222222;">
						<h4>收藏</h4>
					</div>
					<div class="co-text">
					<p>{$blog.blog_brief}</p>
					</div>
					<div class="date-footer"></div>
				</div>
			</volist>
		</div>
	</div>

</body>
</html> 
