<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="__PUBLIC__/BlogThemeThemelates/2015010511111111/style/all.css" >
	<meta charset="utf-8">
	<script type="text/javascript">
	
	</script>
</head>
<body>
	<div class="global">
		<div class="main-con">
			<div class="info">
				<div class="info-logo">
					<img  class="logo" src="__PUBLIC__/BlogThemeThemelates/2015010511111111/images/me.JPG">
					<div class="info-re">
						<h3>我姓程</h3>
						<h5>叫我序员好了</h5>
					</div>
				</div>
				<img class="info-pic" src="__PUBLIC__/BlogThemeThemelates/2015010511111111/images/bg.jpg"> 
			</div>
			
		</div>
	</div>

</body>
</html> 