<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>我的个人中心</title>
	<link href="__PUBLIC__/Css/person.css" rel='stylesheet' type="text/css" />
</head>
<body>
	<div id="page">
		<div id="header">
			 <div id="header">
			 	<ul>
			 		<li><a href="{:U('/Home/Index/home')}">首页</a></li>
					<li><a href="{:U('/Home/Index/news/pageIndex/1')}">开源资讯</a></li>
					<li><a href="{:U('/Home/Index/technology')}">开源技术</a></li>
					<li><a href="{:U('/Home/Index/projects')}">开源项目</a></li>
					<li><a href="{:U('/Home/Index/shares')}">开源分享</a></li>
					<li><a href="{:U('/Home/Index/questions')}">开源问答</a></li>
					<li><a href="{:U('/Home/Index/teahouse')}">开源茶馆</a></li>
					<li><a href="{:U('/Home/Index/blog/page/Index')}">开源博客</a></li>
					<li id="header_bottom_main_ul_li_last"><a href="{:U('/Home/Index/study')}">学习资源</a></li>
			 	</ul>
			 	<div class="clear"></div>	
			 </div>
		</div>
		<div id="content">
			<div id="content_left">
				<div id="content_left_username"></div>
				<div id="content_left_publicBlog"></div>
				<div id="content_left_attention"></div>
			</div>
			<div id="content_center">
				
			</div>
			<div id="content_right"></div>
		</div>
		<div id="footer">
		</div>
	</div>
</body>
</html>