<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>大连工业大学开源社区--开源技术</title>
	<link href="__PUBLIC__/Css/global.css" rel='stylesheet' type="text/css" />
	<link href="__PUBLIC__/Css/technology.css" rel='stylesheet' type="text/css" />
	<link href="__PUBLIC__/Css/news.css" rel='stylesheet' type="text/css" />
	<script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/news.js"></script>
	<script src="__PUBLIC__/Js/global.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function()
		{
			Pagination(1,10);
			setNavigation(navigationMenu.technology);
		});
	</script>
</head>
<body>
	<div id="page">
		<script type="text/javascript">
			getData("header");
		</script>
		<div id="content">
			<div id="content_content">
				<div id="content_content_left">
					<div id="content_content_left_div">
					<ul class="content_content_left_div_ul">
						<li class="px" id="content_content_left_first"><h2>开源技术</h2></li>
						<li class="px px_active">大炸会</li>
						<li class="px">Linux</li>
						<li class="px">PHP</li>
						<li class="px">更多</li>
					</ul>
					<ul class="content_content_left_div_ul">
					<volist name="technologys" id="tech">
						<li class="content_content_left_div_ul_li">
							<div class="content_content_left_body_content">
								<h3><a href="{$tech.technology_Url}" target="_bank">{$tech.technology_Title}</a></h3>
								<p>{$tech.technology_Brief}</p>
							</div>
							<ul>
								<li><a href="#">{$tech.user_Username}</a> 发布于 {$tech.technology_PublicTime}</li>
								<li><a href="#">赞{$tech.technology_PraiseNumber}</a></li>
								<li><a href="#">踩{$tech.technology_StampNumber}</a></li>
								<li><a href="#">分享</a></li>
							</ul>
							<div class="clear"></div>
						</li>
						</volist>
					</ul>
					<p>
						<div class="quotes">
						</div>
					</p>
					</div>
				</div>
				<div id="content_content_right">
					<ul>
						<li id="content_content_right_public">
							<div>
								<h3>有什么好的开发技术吗？</h3>
								<button>我要分享</button>
							</div>
						</li>
						<li class="content_content_right_forum">
							<ol>
								<li class="content_content_right_forum_title"><h2>开源技术板块</h2></li>
								<li class="content_content_right_forum_forum"><a href="#">大炸会</a></li>
								<li class="content_content_right_forum_forum"><a href="#">Linux</a></li>
								<li class="content_content_right_forum_forum"><a href="#">PHP</a></li>
								<li class="content_content_right_forum_forum"><a href="#">.Net</a></li>
								<li class="content_content_right_forum_forum"><a href="#">ThinkPHP</a></li>
								<li class="content_content_right_forum_forum"><a href="#">大炸会</a></li>
								<li class="content_content_right_forum_forum"><a href="#">大炸会</a></li>
							</ol>
						</li>
						<li class="content_content_right_forum">
							<ol>
								<li class="content_content_right_forum_title"><h2>板块牛人</h2></li>
								<li class="content_content_right_forum_forum"><a href="#">大炸会</a></li>
								<li class="content_content_right_forum_forum"><a href="#">Linux</a></li>
								<li class="content_content_right_forum_forum"><a href="#">PHP</a></li>
								<li class="content_content_right_forum_forum"><a href="#">.Net</a></li>
								<li class="content_content_right_forum_forum"><a href="#">ThinkPHP</a></li>
								<li class="content_content_right_forum_forum"><a href="#">大炸会</a></li>
								<li class="content_content_right_forum_forum"><a href="#">大炸会</a></li>
							</ol>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			getData("footer");
		</script>
	</div>
</body>
</html>