<!DOCTYPE html>
<html>
<head>
	<meta name="keywords"content="大连工业大学开源社区,大连工业大学,工业大学,工大,开源,开源社区,社区,高校开源社区,工大开源社区" />
	<meta name="description" content="工大开源社区 www.gdky.top 全国高校最知名的开源社区之一，是校内开源爱好者建立，我们传播开源的理念，推广开源项目，为 计算机技术爱好者 开发者提供了一个发现、使用、并交流开源技术的平台，旨在学习和研究开源软件技术，宣传和推广开源软件的应用和开发，营造良好的计算机技术学习氛围。" />
	<title>个人中心</title>
	<link href="__PUBLIC__/Css/global.css" rel='stylesheet' type="text/css" />
	<link href="__PUBLIC__/Css/login.css" rel='stylesheet' type="text/css" />
	<style>
		#user{
			float:right;
			margin-top: 8px;
		}
		#body_left{
			float:left;
			width: 30%;
			margin: 0px;
		}
		#body_center{
			float:left;
			width: 40%;
			margin: 0px;
		}
		#body_right{
			float:right;
			width: 30%;
			margin: 0px;
		}
	</style>
</head>
<body>
	<div id="page">
		<div id="content">
			<div id="header_bottom">
				<div id="header_bottom_main">
					<ul>
						<li><a href="{:U('/Home/Index/home')}">首页</a></li>
						<li><a href="{:U('/Home/Index/news/pageIndex/1')}">开源资讯</a></li>
						<li><a href="{:U('/Home/Index/technology')}">开源技术</a></li>
						<li><a href="{:U('/Home/Index/projects')}">开源项目</a></li>
						<li><a href="{:U('/Home/Index/shares')}">开源分享</a></li>
						<li><a href="{:U('/Home/Index/questions')}">开源问答</a></li>
						<li><a href="{:U('/Home/Index/teahouse')}">开源茶馆</a></li>
						<li><a href="{:U('/Home/Index/blog/page/Index')}">开源博客</a></li>
						<li id="header_bottom_main_ul_li_last"><a href="{:U('/Home/Index/study')}">学习资源</a></li>
					</ul>
					<div id="user">李贵发 你好</div>
				</div>
			</div>
			<div id="body_left">
			1
			</div>
			<div id="body_center">
			2
			</div>
			<div id="body_right">
			3
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>
</html>