<!DOCTYPE html>
<html>
<head>
	<title>注册</title>
	<meta http-equiv="Refresh" content="3;URL=/html/index.php/Home/Index/home" />
	<script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Js/global.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/Js/Register.js"></script>
	<link href="__PUBLIC__/Css/global.css" rel='stylesheet' type="text/css" />
	<link href="__PUBLIC__/Css/register.css" rel='stylesheet' type="text/css" />
	<style type="text/css">
		#register_progress{
			background-position:0px -80px;
		}
	</style>
</head>
<body>
<div id="page">
		<!-- 引入头部 -->
		<script type="text/javascript">
			getData("header");
		</script>

		<!-- 注册页主干开始 -->
		<div id="content">
			<div id="register">
				<div id="register_top">
						<h2>注册开源工大</h2>
				</div>
				<div id="register_content">
					<div id="register_progress"></div>

					<div><h3>注册完成！我们将在3秒后为你跳转首页</h3></div>
				</div>
			</div>
		</div>
		<!-- 注册页主干结束 -->

		<!-- 引入尾部 -->
		<script type="text/javascript">
			getData("footer");
		</script>
	</div>
</body>
</body>
</html>